body{
    background-image: url(./bacground.jpg);
    background-size: cover;
}
.asosiy{
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.birinchi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    font-size: 30px;
   

}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    font-size: 30px;
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    font-size: larger;
    color: rgb(32, 49, 202);
    /* justify-content: space-between; */

   
    
    font-size: 30px;
    color: rgb(41, 29, 209);
    font-weight: 900;


}
.second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: larger;
    color: rgb(230, 31, 248);
    justify-content: space-between

}
/* .list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: larger;
    color: aqua;
    justify-content: space-between;

    padding: 25px 25px;
} */
.list:hover{
    color: blueviolet;
    margin: 6px;
}
.ikkinchi{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top:  60px;

}
.rasm{
    border: 5px solid blue;
    border-radius: 30px;
}
.c{
    
    background-color: rgba(250, 235, 215, 0.562);
    width: 600px;
    text-align: end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h3{
    width: 500px;
    height: 400px;
    /* background-color: antiquewhite;
    width: 600px;
    height: 405px; */
}
.l{
    background-color: rgba(250, 235, 215, 0.349);
    width: 500px;  
}
h3:hover{
    color: darkgreen;
    margin: 25px;
}